body{
    background-position: center;
    background-size: cover;
}
.header{
    width: 100%;
    margin: 0px;
    font-size: large;
}
.input_class{
    margin: 5px;
    border-radius: 15px;
    width: 20%;
    color: black;
    background-color: springgreen;
    border: 4px groove blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.object_name_label{
    font-weight: bold;
    font-size: 15px;
}
canvas{
    border-radius: 10px;
    background-color: red;
    box-shadow: 7px 7px 7px rgb(red, green, blue);
}
p{
    color: black;
    margin-bottom: 0px;
    font-size: small;
}